<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>管理页面</title>

<link href="/stylesheets/style1.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/javascripts/js/jquery.min.js"></script>

</head>
<body>
  <div id="fom">
    <form action="/index1" method="POST" >
      粉丝名：<input type="text" name="name1" ><br>
      账号：<input type="text" name="id1" ><br>
      电话：<input type="text" name="phone" ><br>
      贡献数：<input type="text" name="num" ><br>
      年龄：<input type="text" name="age" ><br>
    <input type="submit" value="提交">
    </form>
  </div>
<div class="lvc-wrap" id="lvc-nav">
  <ul class="lvc-nav">
    <li class="nav-pic1 next-layer" title="粉丝展示">
      <a>粉丝展示</a>
      <ol>
        <li>粉丝人数展示</li>
        <li>粉丝留言展示</li>
      </ol>
    </li>
    <li class="nav-pic7 next-layer" title="作品展示">
    	<a>作品展示</a>
        <ol>
        	<li>影视作品展示</li>
            <li>歌曲展示</li>
        </ol>
    </li>
    <li class="nav-pic8" title="日志管理"><a>名人评价</a></li>
    <li class="nav-pic9" title="系统管理"><a>杂志展示</a></li>
  </ul>
  <button type="button" class="btn-nav"></button>
</div>

<table>
  <thead>
    <tr>
      <td colspan="6">
        <input type="button" value="新增" class="add_button">
      </td>
    </tr>
    <tr>
      <td>粉丝名</span></td>
      <td>账号<span class="upBtn"></span><span class="downBtn"></td>
      <td>电话<span class="upBtn"></span><span class="downBtn"></td>
      <td>贡献数<span class="upBtn"></span><span class="downBtn"></td>
      <td>年龄<span class="upBtn"></span><span class="downBtn"></td>
      <td>按钮</td>
    </tr>
  </thead>
  <tbody>
    <% datas.forEach ((o,i) =>{ %>
    <tr>
      <td><%=o.name %></td>
      <td><%=o.id %></td>
      <td><%=o.phone %></td>
      <td><%=o.num %></td>
      <td><%=o.age %></td>
      <td>
        <a href="/index1/del/<%=o.id %>">删除</a>
        <a href="/index1/toUpdate/<%=o.id%>">修改</a>
      </td>
    </tr>
    <%})%>
  </tbody>
  <tfoot>
    <td colspan="6">
      <input type="button" value="上一页" id="uppage">
      <input type="button" value="1" id="page1">
      <input type="button" value="下一页" id="nextpage">
    </td>
  </tfoot>
  
</table>

<script type="text/javascript" src="/javascripts/task.js"></script>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
<p>适用浏览器：360、FireFox、Chrome、Safari、Opera、傲游、搜狗、世界之窗. 不支持Safari、IE8及以下浏览器。</p>
</div>
</body>
</html>
