#dd_div table tr td select{
    width: 164.8px;
    height: 22px;
}
#dd_div{
    display: none;
    position: fixed;
    z-index: 2;
    background-color: white;
    left: 32%;
    top: 25%;
    padding: 42px;
}