<!doctype html>
<!--
	Author by FreeHTML5.co
	Twitter: https://twitter.com/fh5co
	Facebook: https://fb.com/fh5co
	URL: https://freehtml5.co
-->
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/stylesheets/css/slick.css">
	<link rel="stylesheet" href="/stylesheets/css/style.css">
	<title>Actor</title>
</head>
<body>

	<!-- Navigation -->
	<nav class="site-navigation">
		<div class="site-navigation-inner site-container">
			<img src="/images/site-logo.png" alt="site logo">
			<div class="main-navigation">
				<ul class="main-navigation__ul">
					<li><a href="/index1">管理页面</a></li>
					<li><a href="/gg">诗诗动态</a></li>
					<li><a href="/shop">诗诗周边</a></li>
					<li><a href="/fk">意见反馈</a></li>
				</ul>
			</div>
			<div id="myBtn" class="burger-container" onclick="myFunction(this)">
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
			</div>
			<script>
				function myFunction(x) {
					x.classList.toggle("change");
				}
			</script>

		</div>
	</nav>
	<!-- Navigation end -->

	<!-- Top banner -->
	<section class="fh5co-top-banner">
		<div class="top-banner__inner site-container">
			<div class="top-banner__image">
				<img src="/images/top-banner-actor.jpg" alt="author image">
			</div>
			<div class="top-banner__text">
				<div class="top-banner__text-up">
					<span class="brand-span">Hello! I'm</span>
					<h2 class="top-banner__h2">刘</h2>
				</div>
				<div class="top-banner__text-down">
					<h2 class="top-banner__h2">诗诗</h2>
					<span class="brand-span">中国内地影视女演员、影视出品人</span>
				</div>
				<p>One Man. One Mission. Can He Go Beyond?One Man. One Mission. Can He Go Beyond?</p>
				<a href="#" class="brand-button">Read bio > </a>
			</div>
		</div>
	</section>
	<!-- Top banner end -->

	<!-- About me -->
	<section class="fh5co-about-me">
		<div class="about-me-inner site-container">
			<article class="portfolio-wrapper">
				<div class="portfolio__img">
					<img src="/images/about-me.jpg" class="about-me__profile" alt="about me profile picture">
				</div>
				<div class="portfolio__bottom">
					<div class="portfolio__name">
						<span>刘</span>
						<h2 class="universal-h2">诗诗</h2>
					</div>
					<p>刘诗诗（原名刘诗施），1987年3月10日出生于北京市，中国内地影视女演员、影视出品人。</p>
				</div>
			</article>
			<div class="about-me__text">
				<div class="about-me-slider">
					<div class="about-me-single-slide">
						<h2 class="universal-h2 universal-h2-bckg">About me</h2>
						<p><span>2002年</span>考入北京舞蹈学院芭蕾舞专业本科班学习。2004年，因在爱情剧《月影风荷》中饰演女主角叶风荷而踏入演艺圈。2010年，凭借仙侠剧《仙剑奇侠传三》受到更多关注。2011年，因在宫廷剧《步步惊心》中饰演马尔泰·若曦而赢得颇高人气，并获得第十八届上海电视节白玉兰奖最具人气女演员奖。</p>
						<h4>Actor</h4>
						<p class="p-white">See me</p>
					</div>
					<div class="about-me-single-slide">
						<h2 class="universal-h2 universal-h2-bckg">About me 2</h2>
						<p><span>2013年</span>在“新生代四小花旦”评选活动中，刘诗诗与其她三位女演员共同被评为内地新“四小花旦”。2014年，凭借悬疑推理爱情电影《深夜前的五分钟》提名第6届澳门国际电影节最佳女主角。2015年1月20日，刘诗诗与吴奇隆登记结婚。2016年，凭借古装剧《女医·明妃传》获得首届中国电视剧品质盛典年度最具影响力演员 。2017年，其领衔主演的古装奇幻权谋剧《醉玲珑》播出;同年，她还主演了犯罪悬疑电影《心理罪之城市之光》。2019年，主演的现代都市情感剧《如果可以这样爱》播出</p>
						<h4>Actor</h4>
						<p class="p-white">See me</p>
					</div>
				</div>
			</div>
		</div>
		<div class="about-me-bckg"></div>
	</section>
	<!-- About me end -->
	<!-- Counter -->
	<div class="fh5co-counter counters">
		<div class="counter-inner site-container">
			<div class="single-count">
				<span class="count" data-count="24000">0</span>
				<div class="single-count__text">
					<img src="/images/counter-1.png" alt="counter icon">
					<p>Fans</p>
				</div>
			</div>
			<div class="single-count">
				<span class="count" data-count="5000000">0</span>
				<div class="single-count__text">
					<img src="/images/counter-2.png" alt="counter icon">
					<p>Money</p>
				</div>
			</div>
			<div class="single-count">
				<span class="count" data-count="40">0</span>
				<div class="single-count__text">
					<img src="/images/counter-3.png" alt="counter icon">
					<p>Works</p>
				</div>
			</div>
			<div class="single-count">
				<span class="count" data-count="251">0</span>
				<div class="single-count__text">
					<img src="/images/counter-4.png" alt="counter icon">
					<p>Awards</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Counter -->

	<!-- Blog -->
	<section class="fh5co-blog">
		<div class="site-container">
			<h2 class="universal-h2 universal-h2-bckg">My Works</h2>
			<div class="blog-slider blog-inner">
				<div class="single-blog">
					<div class="single-blog__img">
						<img src="/images/blog1.jpg" alt="blog image">
					</div>
					<div class="single-blog__text">
						<h4>仙剑奇侠传三</h4>
						<span>2010年2月14日</span>
						<p>刘诗诗与胡歌、霍建华、杨幂等联袂主演的仙侠剧《仙剑奇侠传三》上星播出，而她则在剧中饰演具有双重性格的龙葵，一个是温柔文雅的蓝葵和另一个是刁蛮泼辣的红葵，该剧在播出后则以平均收视率百分之1.245的成绩取得全国同时段电视剧收视第一，刘诗诗个人也因此获得了更多关注。</p>
					</div>
				</div>
				<div class="single-blog">
					<div class="single-blog__img">
						<img src="/images/blog2.jpg" alt="blog image">
					</div>
					<div class="single-blog__text">
						<h4>轩辕剑之天之痕</h4>
						<span>2012年7月</span>
						<p>刘诗诗主演的古装剧《轩辕剑之天之痕》在湖南卫视首播，她在剧中饰演了活泼聪明、重情重义的北方挞拔族二公主挞拔玉儿，截止8月31日数据统计，此剧网络播放量突破20亿，成为史上第9部网络点击播放总量超过20亿的电视剧，而刘诗诗则凭借该剧获得国剧盛典年度最具人气女演员奖</p>
					</div>
				</div>
				<div class="single-blog">
					<div class="single-blog__img">
						<img src="/images/blog3.jpg" alt="blog image">
					</div>
					<div class="single-blog__text">
						<h4>步步惊心</h4>
						<span>2011年9月10日</span>
						<p>刘诗诗领衔主演的古装宫廷剧《步步惊心》在播出，她在剧中饰演了意外回到康熙年间的乾清宫领头女官马尔泰·若曦，刘诗诗个人则凭借该剧获得第18届上海电视节白玉兰奖互联网观众票选最具人气女演员、第6届腾讯星光大典内地年度女演员以及第2届中国大学生电视节最受喜爱电视剧女演员等多个奖项</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog end -->

	<!-- Quotes -->
	<section class="fh5co-quotes">
		<div class="site-container">
			<div class="about-me-slider">
				<div>
					<h2 class="universal-h2 universal-h2-bckg">What People Are Saying</h2>
					<p>刘诗诗是一个敬业、谦虚的演员。伴随着《步步惊心》的播出，刘诗诗赢来事业飘红、人气暴涨。然而没有任何一个人能够随随便便成功，在拍摄《步步惊心》时她很努力，整部剧她有600多场戏，几乎每天都有她的戏，她是剧组最早起最晚收工最辛苦的人。于作品来说，刘诗诗诠释的若曦非常尊重原著</p>
					<img src="/images/quotes.svg" alt="quotes svg">
					<h4>南海网、凤凰网评</h4>
					<p>Reader</p>
				</div>
				<div>
					<h2 class="universal-h2 universal-h2-bckg">What People Are Saying 2</h2>
					<p>刘诗诗她的气质外形也比较特别，腹中有诗书，举止得体有大将之风，锋芒暗藏，蓄势待发，她看得见自己的道路。她的出现填补了一种影视角色的空白，也迎合了时下的流行需求，同时她代表了一种新的造星模式。</p>
					<img src="/images/quotes.svg" alt="quotes svg">
					<h4>网易网评</h4>
					<p>Reader</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Quotes end -->

	<!-- Social -->
	<section class="fh5co-social">
		<div class="site-container">
			<div class="social">
				<h5>Follow me!!</h5>
				<div class="social-icons">
					<a href="#" target="_blank"><img src="/images/social-twitter.png" alt="social icon"></a>
					<a href="#" target="_blank"><img src="/images/social-pinterest.png" alt="social icon"></a>
					<a href="#" target="_blank"><img src="/images/social-youtube.png" alt="social icon"></a>
					<a href="#" target="_blank"><img src="/images/social-twitter.png" alt="social icon"></a>
				</div>
				<h5>Share it!</h5>
			</div>
		</div>
	</section>
	<!-- Social -->
	<!-- Scripts -->
	<script src="/javascripts/js/jquery.min.js"></script>
	<script src="/javascripts/js/slick.min.js"></script>
	<script src="/javascripts/js/main.js"></script>

</body>
</html>